table {
  border-collapse: collapse;
  width: 98%;
  overflow-x: auto;
}

caption {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 20px;
}

th,
td {
  border: 1px solid #2d96cd;
  padding: 10px;
}

thead {
  background-color: #2d96cd;
  color: white;
  text-align: center;
}

tfoot {
  background-color: #2d96cd;
}

tfoot td {
  border: none;
}

#container-table {
  overflow: visible;
}
