<po-page-default style="display: flex">
  <div
    po-lg-12
    po-md-12
    po-sm-12
    style="text-align: center; font-size: 30px; font-weight: bold"
  >
    <p>DASHBOARD FORD</p>
  </div>

  <div class="card-container po-offset-sm-2">
    <po-widget class="po-sm-8 po-md-6 po-lg-3 po-mt-2" p-title="VEICULO">
      <div class="po-font-subtitle po-text-center">
        <select
          style="width: 95%; height: 30px"
          [(ngModel)]="idSelecionado"
          (change)="teste($event.target)"
        >
          <option *ngFor="let veiculo of veiculos" [value]="+veiculo.id">
            {{ veiculo.model }}
          </option>
        </select>
      </div>
    </po-widget>

    <po-widget
      class="po-sm-8 po-md-6 po-lg-3 po-mt-2"
      p-title="TOTAL DE VENDAS"
    >
      <div class="po-font-subtitle" style="color: #2d96cd">
        {{ selecionado?.sold }}
      </div>
      <div class="" style="color: #2d96cd">Und.</div>
    </po-widget>

    <po-widget class="po-sm-8 po-md-6 po-lg-3 po-mt-2" p-title="CONECTADOS">
      <div class="po-font-subtitle" style="color: #2d96cd">
        {{ selecionado?.connected }}
      </div>
      <div class="" style="color: #2d96cd">Und.</div>
    </po-widget>

    <po-widget
      class="po-sm-8 po-md-6 po-lg-3 po-mt-2"
      p-title="UPDATE SOFTWARE"
    >
      <div class="po-font-subtitle" style="color: #2d96cd">
        {{ selecionado?.softwareUpdates }}
      </div>
      <div class="" style="color: #2d96cd">Und.</div>
    </po-widget>
  </div>

  <div
    class="mid-container"
    style="
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
    "
  >
    <div
      class="po-sm-12 po-md-12 po-lg-8 po-mt-2"
      style="width: 60%; display: flex"
    >
      <div id="donut_chart" style="width: 50%"></div>
      <div id="donut_chart2" style="width: 50%"></div>
    </div>

    <div class="po-sm-12 po-md-12 po-lg-4 po-mt-2">
      <img
        *ngIf="selecionado"
        src="../../assets/{{ selecionado.model }}.png"
        style="width: 100%"
      />
    </div>
  </div>

  <div class="container-table" id="container-table" style="width: 100%">
    <table>
      <thead>
        <tr>
          <td>Código - Vin</td>
          <td>Odômetro</td>
          <td>Nível de Combustível</td>
          <td>Status</td>
          <td>Lat.</td>
          <td>Long.</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <po-input p-label=" " [formControl]="testeInput"></po-input>
          </td>
          <td *ngIf="vehicleDataSelecionado">
            <b>
              {{
                testeInput.value.length > 3
                  ? vehicleDataSelecionado.odometer + " KM"
                  : " "
              }}
            </b>
          </td>
          <td *ngIf="testes$ | async as teste">
            <b>
              {{
                testeInput.value.length > 3
                  ? vehicleDataSelecionado.fuelLevel + " %"
                  : " "
              }}
            </b>
          </td>
          <td *ngIf="testes$ | async as teste">
            <b>
              {{
                testeInput.value.length > 3
                  ? vehicleDataSelecionado.status
                  : " "
              }}
            </b>
          </td>
          <td *ngIf="testes$ | async as teste">
            <b>
              {{
                testeInput.value.length > 3
                  ? vehicleDataSelecionado.latitude
                  : " "
              }}
            </b>
          </td>
          <td *ngIf="testes$ | async as teste">
            <b>
              {{
                testeInput.value.length > 3
                  ? vehicleDataSelecionado.longitude
                  : " "
              }}
            </b>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tfoot>
    </table>
  </div>
</po-page-default>
